<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.openscada.ui.localization.configuration" name="org.openscada.ui.utils.configuration" schema="schema/org.openscada.ui.localization.configuration.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.openscada.ui.localization.timezone.TimeZonePreferencePage"
            id="org.openscada.ui.localization.preferencepage.timezone"
            name="Time Zone">
      </page>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.openscada.ui.localization.timezone.TimeZoneInitializer">
      </initializer>
   </extension>

</plugin>
