<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.openscada.core.ui.category"
            class="org.openscada.core.ui.connection.information.InformationViewPart"
            id="org.openscada.core.ui.connection.information.informationView"
            name="Connections Information"
            restorable="true">
      </view>
   </extension>

</plugin>
