<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.openscada.ca.ui.exporter.category"
            class="org.openscada.ca.ui.exporter.wizard.ExportWizard"
            id="org.openscada.ca.ui.exporter.wizard"
            name="%wizard.export.name">
      </wizard>
      <category
            id="org.openscada.ca.ui.exporter.category"
            name="%category.export.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.openscada.core.ui.connection.ConnectionView#PopupMenu">
         <command
               commandId="org.eclipse.ui.file.export"
               label="%command.export.label"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="org.openscada.ca.ui.exporter.wizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <or>
                           <instanceof
                                 value="org.openscada.core.connection.provider.ConnectionService">
                           </instanceof>
                           <adapt
                                 type="org.openscada.core.connection.provider.ConnectionService">
                           </adapt>
                        </or>
                        <test
                              forcePluginActivation="true"
                              property="org.openscada.core.ui.connection.data.ConnectionHolder.interfaceName"
                              value="ca">
                        </test>
                     </and>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
