<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.openscada.ae.ui.views.configuration" name="%extension-point.viewConfiguration.name" schema="schema/org.openscada.ae.ui.views.configuration.exsd"/>
   <extension-point id="filterTab" name="Filter Tab" schema="schema/filterTab.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.openscada.ae.ui.category"
            class="org.openscada.ae.ui.views.views.MonitorsView"
            icon="icons/monitors.gif"
            id="org.openscada.ae.ui.views.views.monitors"
            name="%view.monitors.name"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.openscada.ae.ui.category"
            class="org.openscada.ae.ui.views.views.EventPoolView"
            icon="icons/eventpool.gif"
            id="org.openscada.ae.ui.views.views.eventpool"
            name="%view.eventPool.name"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.openscada.ae.ui.category"
            class="org.openscada.ae.ui.views.views.EventHistoryView"
            icon="icons/eventhistory.gif"
            id="org.openscada.ae.ui.views.views.eventhistory"
            name="%view.eventQuery.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.openscada.ae.ui.views.preferences.PreferencePage"
            id="org.openscada.ae.ui.views.preferences.PreferencePage"
            name="%preference.bellActivated.label">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.openscada.ae.ui.views.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
