<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.openscada.ca.ui.editor.form">
      <form
            class="org.openscada.ca.ui.editor.forms.common.connection.ConnectionEditorForm"
            factoryId="da.connection"
            label="Connection">
      </form>
      <form
            class="org.openscada.ca.ui.editor.forms.common.ae.MonitorQueryEditorForm"
            factoryId="ae.monitor.query"
            label="Monitor Query">
      </form>
      <form
            class="org.openscada.ca.ui.editor.forms.common.level.LevelEditorForm"
            factoryId="org.openscada.ae.monitor.level"
            label="Level Monitor">
      </form>
      <form
            class="org.openscada.ca.ui.editor.forms.common.mapper.MapperEditorForm"
            factoryId="org.openscada.da.mapper.osgi.configuredMapper"
            label="Configured Mapper">
      </form>
      <form
            class="org.openscada.ca.ui.editor.forms.common.mapper.MapperHandlerEditorForm"
            factoryId="org.openscada.da.master.mapper"
            label="Mapper Master Handler">
      </form>
   </extension>

</plugin>
