<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.openscada.ca.ui.editor.form">
      <form
            class="org.openscada.ca.ui.editor.forms.common.connection.ConnectionEditorForm"
            factoryId="da.connection"
            label="Connection">
      </form>
      <form
            class="org.openscada.ca.ui.editor.forms.common.ae.MonitorQueryEditorForm"
            factoryId="ae.monitor.query"
            label="Monitor Query">
      </form>
      <form
            class="org.openscada.ca.ui.editor.forms.common.level.LevelEditorForm"
            label="Level Monitor">
            <factory>org.openscada.da.level.floor</factory>            
            <factory>org.openscada.da.level.ceil</factory>
            <factory>org.openscada.da.level.low</factory>
            <factory>org.openscada.da.level.lowlow</factory>
            <factory>org.openscada.da.level.high</factory>
            <factory>org.openscada.da.level.highhigh</factory>
      </form>
   </extension>

</plugin>
