<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.openscada.ca.ui.editor.form">
      <form
            class="org.openscada.ca.ui.editor.forms.common.connection.ConnectionEditorForm"
            factoryId="da.connection"
            label="Connection">
      </form>
      <form
            class="org.openscada.ca.ui.editor.forms.common.connection.LevelEditorForm"
            factoryId="org.openscada.da.level.floor"
            label="Level Monitor">
      </form>
      <form
            class="org.openscada.ca.ui.editor.forms.common.connection.LevelEditorForm"
            factoryId="org.openscada.da.level.ceil"
            label="Level Monitor">
      </form>
      <form
            class="org.openscada.ca.ui.editor.forms.common.connection.LevelEditorForm"
            factoryId="org.openscada.da.level.low"
            label="Level Monitor">
      </form>
	  <form
            class="org.openscada.ca.ui.editor.forms.common.connection.LevelEditorForm"
            factoryId="org.openscada.da.level.lowlow"
            label="Level Monitor">
      </form>
      <form
            class="org.openscada.ca.ui.editor.forms.common.connection.LevelEditorForm"
            factoryId="org.openscada.da.level.high"
            label="Level Monitor">
      </form>
	  <form
            class="org.openscada.ca.ui.editor.forms.common.connection.LevelEditorForm"
            factoryId="org.openscada.da.level.highhigh"
            label="Level Monitor">
      </form>
   </extension>

</plugin>
