<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.openscada.ca.ui.editor.form" name="CA Editor Form" schema="schema/org.openscada.ca.ui.editor.form.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.openscada.ca.ui.editor.config.BasicEditor"
            default="false"
            id="org.openscada.ca.ui.connection.editors.BasicEditor"
            name="Configuration Editor">
      </editor>
      <editor
            class="org.openscada.ca.ui.editor.config.MultiConfigurationEditor"
            default="false"
            id="org.openscada.ca.ui.connection.editors.MultiConfigurationEditor"
            name="Multi Configuration Editor">
      </editor>
      <editor
            class="org.openscada.ca.ui.editor.factory.FactoryEditor"
            default="false"
            id="org.openscada.ca.ui.connection.editors.FactoryEditor"
            name="Factory Editor">
      </editor>
   </extension>
</plugin>
