<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.openscada.da.client.dataitem.details.DetailsViewPart" name="%extension-point.name" schema="schema/org.openscada.da.client.dataitem.details.DetailsViewPart.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.openscada.da.ui.category"
            class="org.openscada.da.client.dataitem.details.DetailsViewPart"
            id="org.openscada.da.client.dataitem.details.DetailsViewPart"
            name="%view.dataItemDetails.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.dataitem.details.objectContribution2"
            objectClass="org.openscada.da.ui.widgets.realtime.ListEntry">
         <action
               class="org.openscada.da.client.dataitem.details.ShowDetailsAction"
               enablesFor="1"
               id="org.openscada.da.client.dataitem.details.DataItemDetails"
               label="%action.dataItemDetails.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.dataitem.details.objectContribution3"
            objectClass="org.openscada.da.ui.connection.data.DataItemHolder">
         <action
               class="org.openscada.da.client.dataitem.details.ShowDetailsAction"
               enablesFor="1"
               id="org.openscada.da.client.dataitem.details.DataItemDetails"
               label="%action.dataItemDetails.label"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.openscada.da.client.dataitem.details.DetailsViewPart">
      <detailsPart
            class="org.openscada.da.client.dataitem.details.part.overview.OverviewDetailsPart"
            name="%detailsPart.overview.name"
            sortKey="0000">
      </detailsPart>
      <detailsPart
            name="%detailsPart.errors.name"
            sortKey="0500">
            <class class="org.openscada.da.client.dataitem.details.part.sum.SumDetailsPart">
            	<parameter name="label" value="%detailsPart.errors.name"/>
            	<parameter name="suffix" value=".error"/>
            </class>
      </detailsPart>
	<detailsPart
            name="%detailsPart.alarms.name"
            sortKey="0501">
            <class class="org.openscada.da.client.dataitem.details.part.sum.SumDetailsPart">
            	<parameter name="label" value="%detailsPart.alarms.name"/>
            	<parameter name="suffix" value=".alarm"/>
            </class>
      </detailsPart>
	<detailsPart
            name="%detailsPart.acks.name"
            sortKey="0502">
            <class class="org.openscada.da.client.dataitem.details.part.sum.SumDetailsPart">
            	<parameter name="label" value="%detailsPart.acks.name"/>
            	<parameter name="suffix" value=".ackRequired"/>
            </class>
      </detailsPart>
 <detailsPart
       class="org.openscada.da.client.dataitem.details.part.block.BlockDetailsPart"
       name="%detailsPart.blocking.name"
       sortKey="0503">
 </detailsPart>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.openscada.da.client.dataitem.details.commands.OpenDetailsView"
            commandId="org.openscada.da.client.dataitem.details.openDetails">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <adapt
                           type="org.openscada.da.ui.connection.data.Item">
                     </adapt>
                     <instanceof
                           value="org.openscada.da.ui.connection.data.Item">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.openscada.da.client.dataitem.details.openDetailsDialog">
         <class
               class="org.openscada.da.client.dataitem.details.dialog.DefaultDialogHandler">
         </class>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.openscada.core.ui.connection.ConnectionView#PopupMenu">
         <command
               commandId="org.openscada.da.client.dataitem.details.openDetails"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <adapt
                           type="org.openscada.da.ui.connection.data.Item">
                     </adapt>
                     <instanceof
                           value="org.openscada.da.ui.connection.data.Item">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.openscada.da.ui.category"
            id="org.openscada.da.client.dataitem.details.openDetails"
            name="%command.name">
      </command>
      <command
            categoryId="org.openscada.da.ui.category"
            description="Open the details dialog for one item. Either by connection ID or connection URI."
            id="org.openscada.da.client.dataitem.details.openDetailsDialog"
            name="Data Item Details Dialog">
         <commandParameter
               id="org.openscada.da.client.dataitem.details.itemId"
               name="Item ID"
               optional="false">
         </commandParameter>
         <commandParameter
               id="org.openscada.da.client.dataitem.details.connectionId"
               name="Connection ID"
               optional="true">
         </commandParameter>
         <commandParameter
               id="org.openscada.da.client.dataitem.details.connectionUri"
               name="Connection URI"
               optional="true">
         </commandParameter>
      </command>
   </extension>

</plugin>
