<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.openscada.core.ui.connection.creator">
      <creator
            class="org.openscada.ca.ui.connection.creator.net.ConnectionCreatorImpl"
            driver="jaxws"
            id="org.openscada.ca.ui.connection.creator.net.creator"
            interface="ca">
      </creator>
   </extension>

</plugin>
